language: android
android:
  components:
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-21.1.1

    # The SDK version used to compile your project
    - android-21

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    # - sys-img-armeabi-v7a-android-21
    # - sys-img-armeabi-v7a-android-19

# Emulator Management: Create, Start and Wait
before_script:
  - ./gradlew build connectedCheck
  - ./gradlew assembleDebug